<div class="tab-pane fade" id="status" role="tabpanel" aria-labelledby="status-tab">
                <h2>STATUS</h2>
                <div class="table">
                    <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Run ID</th>
                        <th scope="col">User Name</th>
                        <th scope="col">Problem Name</th>
                        <th scope="col">Score</th>
                        <th scope="col">Average Time</th>
                        <th scope="col">Memory</th>
                        <th scope="col">Length</th>
                        <th scope="col">Language</th>
                        <th scope="col">Submission Time</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class = "table-secondary">
                        <th scope="row">_id.submission[i].run_id </th>
                        <td>_id.submission[i].username</td>
                        <td>_id.submission[i].problemName</td>
                        <td>_id.submission[i].score</td>
                        <td>_id.submission[i].averageTime</td>
                        <td>_id.submission[i].memory</td>
                        <td>_id.submission[i].length</td>
                        <td>_id.submission[i].language</td>
                        <td>_id.submission[i].submitTime</td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <th scope="row">_id.submission[i].run_id </th>
                        <td>_id.submission[i].username</td>
                        <td>_id.submission[i].problemName</td>
                        <td>_id.submission[i].score</td>
                        <td>_id.submission[i].averageTime</td>
                        <td>_id.submission[i].memory</td>
                        <td>_id.submission[i].length</td>
                        <td>_id.submission[i].language</td>
                        <td>_id.submission[i].submitTime</td>
                      </tr>
                      <tr class = "table-secondary">
                        <th scope="row">_id.submission[i].run_id </th>
                        <td>_id.submission[i].username</td>
                        <td>_id.submission[i].problemName</td>
                        <td>_id.submission[i].score</td>
                        <td>_id.submission[i].averageTime</td>
                        <td>_id.submission[i].memory</td>
                        <td>_id.submission[i].length</td>
                        <td>_id.submission[i].language</td>
                        <td>_id.submission[i].submitTime</td>
                      </tr>
                    <tr>
                      <th scope="row">_id.submission[i].run_id </th>
                      <td>_id.submission[i].username</td>
                      <td>_id.submission[i].problemName</td>
                      <td>_id.submission[i].score</td>
                      <td>_id.submission[i].averageTime</td>
                      <td>_id.submission[i].memory</td>
                      <td>_id.submission[i].length</td>
                      <td>_id.submission[i].language</td>
                      <td>_id.submission[i].submitTime</td>
                    </tr>
                      </tbody>
                    </table>
                    </div>
            </div>
