<form #userregister = "ngForm" (ngSubmit) = "register(userregister.value)" >
    <input type = "text" name = "name" placeholder = "name" ngModel>
    <br/>
    <input type = "text" name = "username" placeholder = "username" ngModel>
    <br/>
    <input type = "text" name = "email" placeholder = "emaail" ngModel>
    <br/>
    <input type = "password" name = "password" placeholder = "password" ngModel>
    <br/>
    <input type = "submit" value = "submit">
 </form>

 <form #userlogin = "ngForm" (ngSubmit) = "login(userlogin.value)" >
    <input type = "text" name = "email" placeholder = "emaail" ngModel>
    <br/>
    <input type = "password" name = "password" placeholder = "password" ngModel>
    <br/>
    <input type = "submit" value = "submit">
 </form>